.api-detail {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 999;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
.api-detail .api-detail-info {
  padding: 30px 0;
}
.api-detail .api-detail-code {
  margin-bottom: 50px;
}
.oper-api-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 999;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
.oper-api-wrap .oper-api-info {
  margin-top: 50px;
  margin-bottom: 30px;
}
.oper-api-wrap .btns button {
  width: 72px;
  margin-right: 10px;
}
